<section class="section">
	<div class="box">
		<div class="media">
			<figure class="media-left">
				<img src="https://fakeimg.pl/50x50/">
			</figure>
			<div class="media-content">
				<p class="title is-5"><%= @payment_type %>（USD <%= @fee %>）</p>
				<strong>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id leo sed erat dapibus molestie tristique id tortor.
				</strong>
			</div>
		</div>
	</div>
</section>