<section class="columns story-content">
  <section class="column is-haft">
    
    <h1 class="title">Title</h1>

    <span class="profile">
      <img src="https://fakeimg.pl/50x50/" class="avatar"> 
      <span class="username">User</span>
      <a href="#" class="follow-button">Follow</a>
      <p>發表於2020/03/09</p>
    </span>

    <img src="https://fakeimg.pl/1000x500/f0f0f0/" class="story-cover">
    
    <article class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a neque ac purus mattis egestas. Proin ac est ut sapien fringilla finibus. Cras mattis enim eget lobortis tristique. Donec felis dui, dignissim quis facilisis sed, accumsan ac tortor. Integer non varius quam. Praesent efficitur orci ut mi egestas, et molestie ligula aliquet. Aliquam erat volutpat. Maecenas enim nisl, accumsan quis volutpat eu, pellentesque nec magna. Sed egestas maximus nunc, quis fermentum elit euismod ut. Duis tincidunt magna sed ipsum mattis molestie a id lacus. Etiam vulputate elit vitae lorem tristique sodales. Integer luctus, tortor sed vulputate bibendum, leo risus tristique dui, a convallis leo erat eu nunc. Nulla tempor id augue vitae placerat. Vestibulum consectetur sed neque in tempor. In dui nulla, porta ut dui at, scelerisque commodo ex. Cras consequat ligula sed volutpat ornare.

        Ut id ornare velit, nec efficitur ante. Praesent lobortis sapien eget turpis ultrices, eu sollicitudin nibh pulvinar. Nunc ac varius sapien, eget blandit tellus. Ut ornare odio sit amet pretium aliquam. Vivamus ut malesuada turpis, ut pellentesque sem. Curabitur porta scelerisque purus ut bibendum. Pellentesque maximus in sapien in pretium.
        
        Pellentesque vel quam sit amet turpis accumsan tincidunt. Phasellus id massa nec leo semper lobortis quis ut tellus. Duis tellus metus, dignissim eu pellentesque in, molestie sed enim. Nullam eget mattis sapien, a ornare velit. Curabitur eget justo consequat diam condimentum gravida. Sed ex arcu, convallis elementum ante in, aliquam tristique nibh. Fusce in ullamcorper magna. Ut interdum lobortis rhoncus.</p>
      
      <footer>拍手 108</footer>

    </article>

    <hr>

    <section class="comments">

      <h2>留言</h2>

      <section class="comment-editor">
        <form action="" method="post">
          <textarea name="" id="" rows="5" placeholder="留言 ..." class="textarea"></textarea>
          <button type="submit" class="button is-primary">送出</button>
        </form>
      </section>

      <section class="comment">
        <article class="box">
          <span class="comment-profile">
            <img src="https://fakeimg.pl/50x50/" class="avatar"> 
            <span class="username">User</span>
          </span>
          <p>Pellentesque vel quam sit amet turpis accumsan tincidunt.</p>
        </article>
      </section>

    </section>

  </section>
</section>