.story-content {
    
    .title{
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        color: black;
    }

    .profile {
        display: flex;
        align-items: center;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    
        .avatar {
            border-radius: 50%;
        }
    
        .username {
            margin-left: 1em;
            font-size: 1.1em;
        }
    
        .follow-button {
            margin: 0 1em;
            border-radius: 3px;
            color: hsl(171, 100%, 41%);
            padding: 1px 8px;
            border: solid 1px hsl(171, 100%, 41%);
            background-color: white;
    
            &:hover {
                background-color: hsl(171, 100%, 41%);
                color: white;
            }
        }

        .follow-button-solid {
            margin: 0 1em;
            border-radius: 3px;
            color: white;
            padding: 1px 8px;
            border: solid 1px hsl(171, 100%, 41%);
            background-color: hsl(171, 100%, 41%);
        }

        .created-at {
            margin-left: 13em;
        }

        .bookmark-button {
            color: hsl(171, 100%, 41%);
            font-size: 1.3em;
            margin-left: 1em;
        }
    }
    
    .story-cover {
        margin: 1em 0;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .content {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2em;
        color: black;

        footer {
            font-size: 0.8em;
        }
    }

    .comments {
        width: 55%;
        margin-left: auto;
        margin-right: auto;

        .comment-editor {
            margin: 1em 0;
            textarea {
                margin-bottom: 1em;
            }
        }

        .comment-list {
            margin: 1em 0;

            .comment p {
                color: darkgray;
            }

            .comment-profile {
                display: flex;
                align-items: center;
                margin-bottom: 1em;

                .avatar {
                    border-radius: 50%;
                }
            
                .username {
                    margin-left: 1em;
                }
            }
        }
    }
}

